<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Book Library</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Add book</a></li>
          <li><a href="#">Edit Books</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav> -->

    <!-- <h1><%= title %></h1> -->
    <h1 style="text-align: center; margin: 20px;">Log In</h1>


    <div class="col-sm-6 col-md-6 col-sm-offset-3">
      <form action="/books/login">
          <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="book-name" class="form-control" id="username">
          </div>
  
          <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" name="author-name" class="form-control" id="pwd">
          </div>
  
          <button type="submit" class="btn btn-default">Add Book</button>
      </form>
  </div> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
